*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.wrapper{
    height: 600px !important;
    overflow-y: scroll;
}
.table{
    width: 100%;
    text-align: left;
    border-spacing: 0px;
    position: relative;
}
.thead{
    background-color: rgb(225, 225, 225);
    position: sticky;
}
.cell{
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border: 0px;
    outline: 0px;
}
.tr{}
.td{
}
.th{
    position: sticky;
    top: 0;
    height: 30px;
}